{% extends 'base.html' %}
{% block title %} Register {% endblock %}

{% block contents %} 
  <div class="container">
    <h1 class="text-center">Sign up</h1>
      <div class="container d-flex justify-content-center mt-3">
        <form method="post">
            {% csrf_token %} 
            <table class="table">
              {{form.as_table}}
            </table>
            <p>Already have an account? Login <a href="/login">here.</a></p>
            <div class="container d-flex justify-content-center">
              <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
      </div>
  </div>
{% endblock %}