.CompactCard {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 35%;
    width: 25%;
    background-color: aquamarine;
    border-radius: 20px;
  }
  
  .CompactCard:hover {
    box-shadow: none !important;
  }
  
  .radialBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .CircularProgressbar {
    width: 7rem !important;
    overflow: visible;
    white-space: pre-line;
  }
  
  .CircularProgressbar-path {
    stroke: white !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
  }
  
  .CircularProgressbar-trail {
    display: none;
  }
  
  .CircularProgressbar-text {
    fill: white !important;
  }
  
  .radialBar > span {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* detail */
  .detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  
  .detail > span:nth-child(2) {
    font-size: 22px;
    font-weight: bold;
  }
  
  .detail > span:nth-child(3) {
    font-size: 12px;
    font-weight: bold;
  }
  
  /* Expanded Card  */
  
  .ExpandedCard {
    position: absolute;
    width: 60%;
    height: 70vh;
    z-index: 9;
    left: 13rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }