.DietPage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.Cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  background-color: aquamarine;
  height: 100vh;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}